.survey-detail{
  max-width: 75%;
  margin: auto;
  height: 100vh;
  margin-top: 12%;
  .question-list{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }
  .question-title{
    font-size: 23px;
    font-weight: 600;
  }
  .back-btn{
    background: white;
    color: black;
    width: 9%;
    margin-left: 0%;
    position: absolute;
    top: 6%;
    &:hover{
      background: #d0c6c6;
    }
  }
  .btn-submit{
    background: white;
    color: black;
    width: 14%;
    margin-bottom: 1%;
    margin-left: 1%;
    &:hover{
      background: #d0c6c6;
    }
  }
}.survey-detail{
  max-width: 75%;
  margin: auto;
  height: 100vh;
  margin-top: 12%;
  .question-list{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }
  .question-title{
    font-size: 23px;
    font-weight: 600;
  }
  .back-btn{
    background: white;
    color: black;
    width: 9%;
    margin-left: 0%;
    position: absolute;
    top: 6%;
    &:hover{
      background: #d0c6c6;
    }
  }
  .btn-submit{
    background: white;
    color: black;
    width: 14%;
    margin-bottom: 1%;
    margin-left: 1%;
    &:hover{
      background: #d0c6c6;
    }
  }
}.survey-detail{
  max-width: 75%;
  margin: auto;
  height: 100vh;
  margin-top: 12%;
  .question-list{
    display: flex;
    flex-direction: column;
  }
  .title{
    font-size: 23px;
    font-weight: 600;
    text-align: center;
  }
  .question-title{
    font-size: 23px;
    font-weight: 600;
  }
  .back-btn{
    background: white;
    color: black;
    width: 9%;
    margin-left: 0%;
    position: absolute;
    top: 6%;
    &:hover{
      background: #d0c6c6;
    }
  }
  .btn-submit{
    background: white;
    color: black;
    width: 14%;
    margin-bottom: 1%;
    margin-left: 1%;
    &:hover{
      background: #d0c6c6;
    }
  }
}